body
{
    font-family: 'open sans', sans-serif;
    background-color: black;
}
#container
{
    width: 1000px;
    height:550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./back.jpg);
    margin: 20px auto;
}
#calculator
{
    width: 320px;
    height: 520px;
    background-color: #d6eb63;
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 15px 4px 8px 0 rgba(252, 4, 169, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result
{
    height: 120px;
}
#keyboard
{
    height: 400px;
}
#history-value
{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output
{
text-align: right;
height: 60px;
margin: 10px 20px;
font-size: 30px;
}
.operator, .number, .empty
{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty
{
    background-color:#d6eb63 ;
}
.number,.operator
{
    cursor: pointer;
}
.number:active, .operator:active
{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus
{
    outline: 0;
}
button:nth-child(4)
{
    font-size: 20px;
    background-color: aqua;
}
button:nth-child(8)
{
    font-size: 20px;
    background-color: rgb(14, 250, 120);
}
button:nth-child(12)
{
    font-size: 20px;
    background-color: rgb(113, 104, 236);
}
button:nth-child(16)
{
    font-size: 20px;
    background-color: rgb(250, 16, 106);
}
button:nth-child(20)
{
    font-size: 20px;
    background-color: rgb(243, 35, 35);
}